body{
    background-image: url(../img/mythosaurgrisBG.png);
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    }

    .producto {
        margin-bottom: 20px;
        border: solid black 2px;
        border-radius: 20px;
        padding: 5%;
        background-color: #ffffff50;
    }

    .producto img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 5px;
    }
    .producto:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn-comprar {
        transition: transform 0.3s;
        background-color: rgb(13, 112, 241);
        width: 100%;
    }
    .btn-comprar:hover {
        /*transform: scale(1.1);*/
        background-color: greenyellow;
        color: black;
    }

    .precioEntero{
        font-size: 3em;
    }
    .precioDecimal{
        font-size: 1.5em;
        padding-top: 5%;
        vertical-align: top;
    }
    .precioMoneda{
        font-size: 1.5em;
        padding-top: 5%;
        vertical-align: top;
    }

    footer{
        background-color: #b4b4b434;
    }